//UTILITIES MIXINS

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin afterOrBefore {
  content: "";
  display: block;
  position: absolute;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin spacer {
  border-bottom: 1px solid $color-grey-light-3;
}


//EVENT DISPLAY

@mixin event($border, $background, $h5, $h3) {
  border-color: $border;
  background-color: $background;
  
  & h5 {
    color: $h5;
  }
  
  & h3 {
    color: $h3;
  }
  
  & button {
    color: $h3;
  }
}


//BOX SHADOW MANAGER

@mixin boxShadow($strength) {
  @if $strength == weak {
    box-shadow: 0 0 1rem rgba($color-black, .15);
  }
  
  @if $strength == medium {
    box-shadow: 0 0 1rem rgba($color-black, .15);
  }
  
  @if $strength == strong {
    box-shadow: 0 0 1rem rgba($color-black, .15);
  }
}


// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
