@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// FOR FEATURING ACTIVE DAY AND TODAY
@mixin featureDay($color1, $color2) {
  position: relative;
  z-index: 2;

  color: $color-white;
  font-weight: 500;

  & > span {
    z-index: 2;
    position: relative;
  }

  &::before {
    height: 2.5rem;
    width: 2.5rem;

    content: "";
    display: block;
    position: absolute;
    top: 1%;
    left: 50%;
    z-index: 1;

    background-color: $color1;
    border-radius: 100px;

    transform: translateX(-50%);
  }

  &::after {
    height: 104%;
    width: 103%;

    content: '';
    display: block;
    position: absolute;
    top: -1.5%;
    left: -1.5%;

    border-radius: 5px;
    border: 2px solid $color2;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
