// COLORS
$color-primary: #1c2b2d;
$color-primary-light-1: #475d60;
$color-primary-light-2: #6c8285;
$color-primary-light-3: #8e9fa2;
$color-primary-light-4: #b0bcbe;

$color-secondary: #1f6f8b;
$color-secondary-light-1: #3d86a0;
$color-secondary-light-2: #5da0b7;

$color-tertiary: #99a8b2;

$color-light: #e6d5b8;
$color-light-1: #e0d5c0;
$color-light-2: #e0d8d1;
$color-light-3: #efebe8;

$color-white: #fff;
$color-black: #3b3735;

// FONT
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Archivo Black', sans-serif;
$default-font-size: 2.4rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
