/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  text-align: center; }

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit; }

.page-wrap {
  height: 100vh;
  width: 100vw;
  padding: 1%;
  background-color: #e0d8d1; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #1c2b2d; }

h1,
h2,
h3 {
  font-family: "Archivo Black", sans-serif; }

h1 {
  font-size: 6.5rem; }

h2 {
  font-size: 4.4rem;
  line-height: 1.2; }

h3 {
  font-size: 2.6rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.button {
  border: none;
  outline: none; }
  .button__calendar {
    font-size: 2.8rem;
    color: #1f6f8b;
    transition: all .3s ease-out; }
    .button__calendar--prev:active, .button__calendar--prev:hover {
      transform: translateX(-0.3rem); }
    .button__calendar--prev:active {
      transform: translateX(-0.3rem) scale(1.06); }
    .button__calendar--next:active, .button__calendar--next:hover {
      transform: translateX(0.3rem); }
    .button__calendar--next:active {
      transform: translateX(0.3rem) scale(1.06); }

.calendar {
  background-color: #efebe8;
  width: 70%;
  height: 100%;
  margin: auto;
  padding: 1.5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
  .calendar__header {
    height: 13.5%;
    margin: 0 10rem 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .calendar__date--primary {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #475d60; }
  .calendar__date--secondary {
    font-size: 2.2rem;
    line-height: 1.2;
    color: #1f6f8b; }
  .calendar__table {
    height: 83.5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    border-bottom: 1px solid #b0bcbe;
    border-right: 1px solid #b0bcbe; }
  .calendar__cell {
    font-size: 1.6rem;
    color: #475d60;
    border-top: 1px solid #b0bcbe;
    border-left: 1px solid #b0bcbe; }
    .calendar__cell--active {
      position: relative;
      z-index: 2;
      color: #fff;
      font-weight: 500; }
      .calendar__cell--active > span {
        z-index: 2;
        position: relative; }
      .calendar__cell--active::before {
        height: 2.5rem;
        width: 2.5rem;
        content: "";
        display: block;
        position: absolute;
        top: 1%;
        left: 50%;
        z-index: 1;
        background-color: #1f6f8b;
        border-radius: 100px;
        transform: translateX(-50%); }
      .calendar__cell--active::after {
        height: 104%;
        width: 103%;
        content: '';
        display: block;
        position: absolute;
        top: -1.5%;
        left: -1.5%;
        border-radius: 5px;
        border: 2px solid #5da0b7; }
    .calendar__cell--today {
      position: relative;
      z-index: 2;
      color: #fff;
      font-weight: 500; }
      .calendar__cell--today > span {
        z-index: 2;
        position: relative; }
      .calendar__cell--today::before {
        height: 2.5rem;
        width: 2.5rem;
        content: "";
        display: block;
        position: absolute;
        top: 1%;
        left: 50%;
        z-index: 1;
        background-color: #475d60;
        border-radius: 100px;
        transform: translateX(-50%); }
      .calendar__cell--today::after {
        height: 104%;
        width: 103%;
        content: '';
        display: block;
        position: absolute;
        top: -1.5%;
        left: -1.5%;
        border-radius: 5px;
        border: 2px solid #99a8b2; }
    .calendar__cell--preview {
      color: #b0bcbe; }
