/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@font-face {
  font-family: Blacksword;
  src: url("/assets/fonts/Blacksword.otf"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }*/ }

body {
  box-sizing: border-box;
  text-align: center; }

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit; }

button {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer; }

.page-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex; }

.main {
  width: 77%;
  height: 100vh;
  padding: 0 3.5rem; }

.content {
  height: 89vh;
  width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #0b2f43; }

h1 {
  font-size: 6.5rem; }

h2 {
  font-size: 4.5rem;
  line-height: 1.2; }

h3 {
  font-size: 2.6rem; }

h5 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4; }

h6 {
  font-size: 1.5rem;
  font-weight: 500; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.button {
  border: none;
  outline: none; }
  .button__calendar {
    font-size: 2.8rem;
    color: #125228;
    transition: all .3s ease-out; }
    .button__calendar--prev:active, .button__calendar--prev:hover {
      transform: translateX(-0.3rem); }
    .button__calendar--prev:active {
      transform: translateX(-0.3rem) scale(1.06); }
    .button__calendar--next:active, .button__calendar--next:hover {
      transform: translateX(0.3rem); }
    .button__calendar--next:active {
      transform: translateX(0.3rem) scale(1.06); }

.calendar {
  height: 100%;
  width: 100%;
  position: relative; }
  .calendar__table-box {
    height: 88%;
    overflow: scroll;
    -ms-overflow-style: none; }
    .calendar__table-box--week {
      width: 100%; }
    .calendar__table-box::-webkit-scrollbar {
      display: none; }
  .calendar__navigation {
    height: 6rem;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .calendar__header {
    line-height: 1; }
  .calendar__controls {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .calendar__switch {
    height: 4.5rem;
    width: 4.5rem;
    position: relative;
    top: -.5rem; }
    .calendar__switch::before, .calendar__switch::after {
      height: 2px;
      width: 3rem;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 1px solid black; }
    .calendar__switch--left {
      margin-right: 3rem; }
      .calendar__switch--left::before {
        transform: translateY(3.1rem) rotate(45deg); }
      .calendar__switch--left::after {
        transform: translateY(1rem) rotate(-45deg); }
    .calendar__switch--right::before {
      transform: translateY(3.1rem) rotate(-45deg); }
    .calendar__switch--right::after {
      transform: translateY(1rem) rotate(45deg); }
  .calendar__labels {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: #fff; }
    .calendar__labels tr {
      height: 6.5rem; }
    .calendar__labels th {
      transform: translateY(0); }
    .calendar__labels span {
      display: block; }
  .calendar__day {
    font-size: 3.2rem;
    font-weight: 500; }
    .calendar__day--active {
      height: 3.8rem;
      width: 3.8rem;
      margin: .8rem auto;
      color: #fff;
      line-height: 1.3;
      background-color: #0f4c75;
      border-radius: .5rem; }
    .calendar__day--name {
      height: 2.5rem;
      color: #3282b8;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1; }
  .calendar__table {
    height: 100%;
    width: 100%;
    margin-top: 10rem;
    border-collapse: collapse; }
  .calendar__row {
    height: 5rem; }
    .calendar__row th {
      width: 3.4%;
      z-index: 1;
      color: #b4b4b4;
      font-size: 1.2rem;
      font-weight: 700;
      transform: translateY(50%); }
    .calendar__row td {
      width: 13.8%;
      position: relative; }
    .calendar__row td:not(.calendar__label) {
      border-top: 1px solid #b4b4b4; }
    .calendar__row:last-child td:not(.calendar__label) {
      border-bottom: 1px solid #b4b4b4; }
    .calendar__row td:not(:last-child):not(.calendar__label) {
      border-right: 1px solid #b4b4b4; }
  .calendar__pointer {
    width: 102.5%;
    height: 3px;
    position: absolute;
    top: 52.5rem;
    right: -.1rem;
    display: block;
    border-top: 3px solid #BC1B1B;
    transform: translateY(-50%); }
    .calendar__pointer::after, .calendar__pointer::before {
      height: 3px;
      width: 1rem;
      top: 0;
      content: "";
      display: block;
      position: absolute;
      border-top: 3px solid #BC1B1B; }
    .calendar__pointer::after {
      transform: translate(-80%, -230%) rotate(45deg); }
    .calendar__pointer::before {
      transform: translate(-80%, 0) rotate(-45deg); }

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }
  .checkbox__label {
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: right; }
  .checkbox__checkmark {
    border: 1px solid black;
    border-radius: .3rem; }
    .checkbox__checkmark::selection {
      background-color: transparent; }
    .checkbox__checkmark--green {
      border-color: #32b860; }
    .checkbox__checkmark--purple {
      border-color: #5B32B8; }
    .checkbox__checkmark--blue {
      border-color: #323CB8; }
  .checkbox__text {
    margin-left: 1.5rem; }
  .checkbox:checked ~ .checkbox__checkmark {
    position: relative; }
    .checkbox:checked ~ .checkbox__checkmark::after {
      width: 1px;
      height: 62.5%;
      top: 17.5%;
      left: 58%;
      content: "";
      display: block;
      position: absolute;
      border-left: 1px solid #fff;
      transform: rotate(45deg); }
    .checkbox:checked ~ .checkbox__checkmark::before {
      width: 1px;
      height: 31.25%;
      top: 45.5%;
      left: 25%;
      content: "";
      display: block;
      position: absolute;
      border-left: 1px solid #fff;
      transform: rotate(-45deg); }
    .checkbox:checked ~ .checkbox__checkmark--green {
      background-color: #32b860; }
    .checkbox:checked ~ .checkbox__checkmark--purple {
      background-color: #5B32B8; }
    .checkbox:checked ~ .checkbox__checkmark--blue {
      background-color: #323CB8; }
  .checkbox__checkmark {
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid black;
    border-radius: .3rem; }
    .checkbox__checkmark::selection {
      background-color: transparent; }
    .checkbox__checkmark--green {
      border-color: #32b860; }
    .checkbox__checkmark--purple {
      border-color: #5B32B8; }
    .checkbox__checkmark--blue {
      border-color: #323CB8; }

.event {
  height: 5rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  border-left: 3px solid black;
  border-radius: 0 .5rem .5rem 0; }
  .event h5 {
    margin-left: .4rem;
    margin-top: .4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; }
  .event h3 {
    margin-left: .4rem;
    margin-top: .6rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1; }
  .event--green {
    border-color: #32b860;
    background-color: #9aeab6; }
    .event--green h5 {
      color: #2c7e48; }
    .event--green h3 {
      color: #125228; }
    .event--green button {
      color: #125228; }
  .event--purple {
    border-color: #B299EA;
    background-color: #d8c7f6; }
    .event--purple h5 {
      color: #5B32B8; }
    .event--purple h3 {
      color: #442B7C; }
    .event--purple button {
      color: #442B7C; }
  .event--blue {
    border-color: #85C3E6;
    background-color: #D5EBF8; }
    .event--blue h5 {
      color: #0F4C75; }
    .event--blue h3 {
      color: #0B2F43; }
    .event--blue button {
      color: #0B2F43; }

.nav {
  height: 9vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb; }
  .nav__logo {
    font-size: 3.6rem;
    padding-right: 1rem;
    font-family: Blacksword;
    color: transparent;
    background: linear-gradient(45deg, #3282b8, #bbe1fa);
    -webkit-background-clip: text;
    transform: translateY(0.5rem); }
  .nav__list {
    display: flex;
    list-style: none; }
  .nav__item {
    margin-left: 5.1rem; }
  .nav__link {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #0b2f43, #3282b8);
    color: transparent;
    -webkit-background-clip: text; }
    .nav__link:hover {
      color: transparent; }
  .nav__icon {
    height: 3.8rem;
    width: 3.8rem;
    fill: #eff8ff; }
  .nav__text {
    margin-left: 1.1rem;
    font-size: 2rem;
    font-weight: 700; }

.sidebar {
  width: 23%;
  height: 100vh;
  padding: 0 3.5rem;
  background-color: #eff8ff; }

.profile {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border-bottom: 1px solid #ebebeb; }
  .profile__greeting {
    width: 8rem;
    font-weight: 500; }
  .profile__info {
    display: flex;
    align-items: center;
    justify-content: center; }
  .profile__description {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
  .profile__name--sub {
    color: #0f4c75; }
  .profile__image {
    height: 5.4rem;
    border-radius: 100px; }

.side-calendar {
  width: 100%;
  border-bottom: 1px solid #ebebeb; }
  .side-calendar__modes {
    height: 5rem;
    margin: 2rem 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d5ebf8;
    border-radius: 1.5rem; }
  .side-calendar__button {
    height: 5rem;
    width: 33%;
    position: relative;
    color: #0b2f43;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase; }
    .side-calendar__button:first-child::after, .side-calendar__button:last-child::after {
      height: 60%;
      width: 2px;
      content: "";
      position: absolute;
      top: 20%; }
    .side-calendar__button--right::after {
      right: 0;
      border-right: 2px solid #bbe1fa; }
    .side-calendar__button--left::after {
      left: 0;
      border-left: 2px solid #bbe1fa; }
    .side-calendar__button--active {
      height: 4.6rem;
      width: 32%;
      margin-left: .5%;
      color: #3282b8;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: #fff;
      border-radius: 1.4rem; }
  .side-calendar__header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .side-calendar__month {
    text-align: left; }
  .side-calendar__controls {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .side-calendar__switch {
    width: 3rem;
    position: relative; }
    .side-calendar__switch::before, .side-calendar__switch::after {
      height: 2px;
      width: 1.5rem;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 1px solid black; }
    .side-calendar__switch--left {
      margin-right: .5rem; }
      .side-calendar__switch--left::before {
        transform: translateY(1rem) rotate(45deg); }
      .side-calendar__switch--left::after {
        transform: rotate(-45deg); }
    .side-calendar__switch--right::before {
      transform: translateY(1rem) rotate(-45deg); }
    .side-calendar__switch--right::after {
      transform: rotate(45deg); }
  .side-calendar__calendar {
    position: relative; }
  .side-calendar__table {
    margin: 1rem 0 1.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 3.5rem;
    position: relative;
    z-index: 5;
    overflow: hidden; }
    .side-calendar__table div {
      display: flex;
      align-items: center;
      justify-content: center; }
  .side-calendar__day--active {
    height: 3.5rem;
    width: 3.5rem;
    margin: auto;
    color: #fff;
    background-color: #0f4c75;
    border-radius: .5rem; }
  .side-calendar__day--name {
    color: #3282b8; }
  .side-calendar__day--additional {
    color: #8baec6; }
  .side-calendar__week {
    width: 100%;
    height: 3.5rem;
    position: absolute;
    top: 7rem;
    left: 0;
    display: block;
    z-index: 1;
    background-color: #d5ebf8;
    border-radius: .5rem; }

.categories {
  width: 100%;
  padding-bottom: 2rem;
  text-align: left;
  border-bottom: 1px solid #ebebeb; }
  .categories__heading {
    margin: 1rem 0 1rem; }
  .categories__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .categories__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .categories__item:not(:last-child) {
      margin-bottom: 1.5rem; }
  .categories__checkmark {
    height: 2.4rem;
    width: 2.4rem; }
  .categories__label {
    width: 40%; }
  .categories__progress-bar {
    height: .5rem;
    width: 80%;
    display: inline-block;
    position: relative;
    background-color: #e5e5e5;
    border-radius: 100px; }
    .categories__progress-bar::after {
      height: .5rem;
      top: 0;
      left: 0;
      content: "";
      display: block;
      position: absolute;
      border-radius: 100px; }
    .categories__progress-bar--green::after {
      width: 60%;
      background-color: #32b860; }
    .categories__progress-bar--purple::after {
      width: 90%;
      background-color: #5B32B8; }
    .categories__progress-bar--blue::after {
      width: 40%;
      background-color: #323CB8; }
  .categories__button {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .5rem;
    color: #b4b4b4;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase; }
    .categories__button span {
      margin-right: 1rem;
      font-size: 2rem;
      font-weight: 500; }

.recent {
  height: 15vh;
  text-align: left; }
  .recent__heading {
    margin: .5rem 0; }
  .recent__event {
    height: 100%;
    padding: 1.2rem 2rem;
    position: relative;
    font-weight: 700;
    font-size: 1.8rem;
    border-color: #0f4c75;
    background-color: #bbe1fa; }
    .recent__event h5 {
      color: #0f4c75; }
    .recent__event h3 {
      color: #0b2f43; }
    .recent__event button {
      color: #0b2f43; }
    .recent__event h3 {
      margin-top: .4rem;
      font-size: 3.5rem;
      line-height: 1; }
    .recent__event h5, .recent__event h3 {
      margin-left: 0; }
    .recent__event button {
      padding: .35rem .6rem;
      margin-top: auto;
      color: #fff;
      font-size: 2.4rem;
      font-weight: 700;
      background-color: #0f4c75;
      border-radius: .3rem; }
    .recent__event span {
      padding: 0 .4rem;
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      color: #3282b8;
      background-color: #fff;
      border-radius: .3rem; }
