/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  text-align: center; }

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit; }

.page-wrap {
  height: 100vh;
  width: 100vw;
  padding: 1%;
  background-color: #e5e5e5; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #0b2f43; }

h1,
h2,
h3 {
  font-family: url("../fonts/Blacksword.otf"); }

h1 {
  font-size: 6.5rem; }

h2 {
  font-size: 4.4rem;
  line-height: 1.2; }

h3 {
  font-size: 2.6rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.button {
  border: none;
  outline: none; }
  .button__calendar {
    font-size: 2.8rem;
    color: #125228;
    transition: all .3s ease-out; }
    .button__calendar--prev:active, .button__calendar--prev:hover {
      transform: translateX(-0.3rem); }
    .button__calendar--prev:active {
      transform: translateX(-0.3rem) scale(1.06); }
    .button__calendar--next:active, .button__calendar--next:hover {
      transform: translateX(0.3rem); }
    .button__calendar--next:active {
      transform: translateX(0.3rem) scale(1.06); }
