//STYLES FOR ALL CALENDAR TABLES

.calendar {
  height: 100%;
  width: 100%;
  
  position: relative;
  
  &__table-box {
    height: 88%;
    
    overflow: scroll;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  &__navigation {
    height: 6rem;
    margin: 1.5rem 0;
    
    @include flexBetween;
  
    @include respond(tab-land) {
      height: 5rem;
    }
  
    @include respond(tab-port) {
      justify-content: center;
    }
  }
  
  &__header {
    line-height: 1;
    
    @include respond(tab-port) {
      color: $color-primary-light-2;
    }
  }
  
  &__controls {
    @include flexBetween;
    
    @include respond(tab-port) {
      display: none;
    }
  }
  
  &__switch {
    position: relative;
    top: -.5rem;
  }
  
  &__labels {
    width: 100%;
    
    position: absolute;
    left: 0;
    z-index: 3;
    
    background-color: $color-white;
    
    & tr {
      height: 6.5rem;
    }
  
    & th {
      transform: translateY(0);
    }
    
    & span {
      display: block;
    }
  }
  
  &__day {
    font-size: 3.2rem;
    font-weight: 500;
  
    @include respond(tab-land) {
      font-size: 2.9rem;
    }
    
    &--active {
      height: 3.8rem;
      width: 3.8rem;
      margin: .8rem auto;
      
      color: $color-white;
      line-height: 1.3;
      
      background-color: $color-primary-light-1;
      border-radius: .5rem;
    }
    
    &--name {
      height: 2.5rem;
      
      color: $color-primary-light-2;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1;
  
      @include respond(tab-land) {
        height: 2rem;
        
        font-size: 2.2rem;
      }
    }
  }
  
  &__table {
    height: 100%;
    width: 100%;
    
    border-collapse: collapse;
  }
  
  &__row {
    height: 5rem;
    
    & th {
      width: 3.4%;
      z-index: 1;
      
      color: $color-grey-light;
      font-size: 1.2rem;
      font-weight: 700;
      
      transform: translateY(50%);
  
      @include respond(phone) {
        padding-right: 1rem;
      }
    }
    
    & td {
      position: relative;
    }
    
    & td:not(.calendar__label) {
      border-top: 1px solid $color-grey-light;
    }
    
    &:last-child td:not(.calendar__label) {
      border-bottom: 1px solid $color-grey-light;
    }
    
    & td:not(:last-child):not(.calendar__label) {
      border-right: 1px solid $color-grey-light;
    }
  }
  
  &__pointer {
    width: 102.5%;
    height: 3px;
  
    display: block;
  
    position: absolute;
    top: 52.5rem;
    right: -.1rem;
    z-index: 2;
    
    border-top: 3px solid #BC1B1B;
    
    transform: translateY(-50%);
    
    &::after,
    &::before {
      height: 3px;
      width: 1rem;
      
      top: 0;
      left: 0;
  
      border-top: 3px solid #BC1B1B;
      
      @include afterOrBefore;
    }
    
    &::after {
      transform: translate(-80%, -230%) rotate(45deg);
    }
    
    &::before {
      transform: translate(-80%, 0) rotate(-45deg);
    }
  }
}


//STYLES FOR DAILY DIVIDED CALENDAR

.calendar--day {
  margin-right: 2.5%;
  width: 42.5%;
  
  @include respond(tab-port) {
    width: 100%;
  }
  
  & th {
    width: 5%;
  }
  
  & td {
    width: 95%;
  }
}


//STYLES FOR WEEKLY DIVIDED CALENDAR

.calendar--week {
  width: 100%;
  
  & .calendar__table--week {
    margin-top: 10rem;
  }
  
  & th {
    width: 3.4%;
  }
  
  & td {
    width: 13.8%;
  }
}


//STYLES FOR MONTHLY DIVIDED CALENDAR

.calendar--month {
  & .calendar__labels {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5rem;
  }
  
  & .calendar__table {
    height: 90%;
    margin-top: 5.5rem;
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
  
    border-bottom: 1px solid $color-grey-light-2;
    border-right: 1px solid $color-grey-light-2;
    
    & div {
      overflow: scroll;
    }
  
    & > div:not(.calendar__table--day) {
      border-top: 1px solid $color-grey-light-2;
      border-left: 1px solid $color-grey-light-2;
      
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
  
  & .calendar__table--day {
    color: $color-primary-light-2;
    font-weight: 500;
  }
  
  & .calendar__table--active {
    position: relative;
    
    & > span {
      position: relative;
      display: block;
      z-index: 2;
  
      color: $color-white;
  
    }
    
    &::after {
      height: 2.5rem;
      width: 2.5rem;
      @include afterOrBefore;
      
      z-index: 1;
      
      top: 4%;
      left: 50%;
      background-color: $color-primary-light-1;
      border-radius: .3rem;
      
      transform: translate(-50%, -10%);
    }
  }
  
  & .calendar__table--additional {
    color: $color-primary-light-3;
  }
}