// MONTH CALENDAR DISPLAY
.calendar {
  background-color: $color-light-3;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 1.5%;
  
  overflow: hidden;

  box-shadow: 0 0 15px rgba(black, .15);

  &__header {
    height: 13.5%;
    margin: 0 10rem 1.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__date {
    &--primary {
      font-size: 2.8rem;
      line-height: 1.2;
      color: $color-primary-light-1;
    }
    
    &--secondary {
      font-size: 2.2rem;
      line-height: 1.2;
      color: $color-secondary;
    }
  }

  &__table {
    height: 83.5%;

    display: grid;
  
    border-bottom: 1px solid $color-primary-light-4;
    border-right: 1px solid $color-primary-light-4;
    
    //FOR WEEK CALENDAR DISPLAY
    &--week {
      grid-auto-flow: column;
      grid-template-rows: 8rem repeat(24, 6rem);
      grid-template-columns: .5fr repeat(7, 1fr);
      
      overflow-y: scroll;
      
      & > .calendar__cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        position: relative;
      }
      
      & > .calendar__cell--day {
        grid-row: 1 / 2;
        
        font-size: 1.5rem;
        
        & > span {
          font-size: 2.2rem;
        }
      }
      
      & > .calendar__cell--today {
        &::after {
          height: 3.5rem;
          width: 3.5rem;
  
          content: "";
          display: block;
          position: absolute;
          bottom: 12.5%;
          left: 50%;
          z-index: 1;
  
          background-color: $color-secondary;
          border-radius: 100px;
  
          transform: translateX(-50%);
        }
        
        & > span {
          color: white;
          z-index: 2;
        }
      }
    }
    
    //FOR MONTH CALENDAR DISPLAY
    &--month {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: .3fr;
      grid-auto-rows: 1fr;
      
      & > .calendar__cell {
        &--active {
          @include featureDay($color-secondary, $color-secondary-light-2);
        }
  
        &--today {
          @include featureDay($color-primary-light-1, $color-tertiary);
        }
      }
    }
  }

  &__cell {
    font-size: 1.6rem;
    color: $color-primary-light-1;

    border-top: 1px solid $color-primary-light-4;
    border-left: 1px solid $color-primary-light-4;

    &--preview {
      color: $color-primary-light-4;
    }
  }
}