.details {
  height: 98%;
  width: 55%;
  padding: 1.5rem 2rem;
  margin: 1.5rem 0;
  
  background-color: $color-primary-light-6;
  border-radius: 1.5rem;
  
  text-align: left;
  
  @include respond(tab-land) {
    margin-bottom: 1%;
    height: auto;
  }
  
  @include respond(tab-port) {
    display: none;
  }
  
  &--note {
    width: 100%;
  }
  
  &--popup {
    width: 40%;
    height: auto;
    margin: 0;
    
    display: block;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    
    transform: translate(-50%, -50%);
    
    @include respond(tab-land) {
      width: 50%;
    }
    
    @include respond(tab-port) {
      width: 60%;
    }
    
    @include respond(phone) {
      width: 95%;
      margin: auto;
  
      position: relative;
      top: 0;
      left: 0;
  
      transform: translate(0, 0);
    }
  }
  
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  &__date {
    color: $color-primary-light-2;
  }
  
  &__time {
    color: $color-primary-light-2;
    
    @include respond(phone) {
      display: none;
    }
  }
  
  &__close {
    display: none;
    
    @include respond(phone) {
      height: 2.7rem;
      width: 2.65rem;
      
      display: block;
      position: relative;
      
      &::before,
      &::after {
        height: .1rem;
        width: 3.5rem;
        
        border-top: 2px solid $color-grey-light;
        
        @include afterOrBefore;
      }
      
      &::before {
        top: 0;
        
        transform-origin: top left;
        transform: rotate(45deg);
      }
      
      &::after {
        bottom: 0;
        
        transform-origin: bottom left;
        transform: rotate(-45deg);
      }
    }
  }
  
  &__description {
    margin-top: 1.5rem;
  }
  
  &__title {
    font-weight: 500;
  }
  
  &__text {
    color: $color-primary-light-1;
    font-size: 1.8rem;
    font-weight: 400;
  }
  
  &__todo {
    margin-top: 1.5rem;
  }
  
  &__info {
    
    &--item {
      margin-top: 2rem;
      
      display: flex;
      align-items: center;
      justify-content: left;
    }
  }
  
  &__icon {
    height: 3.5rem;
    width: 3rem;
    
    
    &--title {
      margin-left: 1rem;
    }
  }
}