//SIDEBAR CALENDAR

.side-calendar {
  width: 100%;
  
  position: relative;
  
  @include spacer;
  
  @include respond(tab-land) {
    margin: 0 4%;
    width: 40%;
    
    border: none;
  }
  
  @include respond(phone) {
    width: 100%;
  }
  
  &__modes {
    height: 5rem;
    margin: 2rem 0 1.5rem;
    
    @include flexBetween;
    
    background-color: $color-primary-light-5;
    border-radius: 1.5rem;
    
    @include respond(tab-land) {
      height: 4rem;
      width: 80%;
      margin: 0 auto 1rem;
      
      border-radius: 1.3rem;
    }
  
    @include respond(tab-port) {
      display: none;
    }
  }
  
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__month {
    text-align: left;
  
    @include respond(tab-land) {
      margin-left: 4%;
    }
    
    @include respond(tab-port) {
      margin-left: 3%;
    }
  
    @include respond(phone) {
      margin-left: 4%;
    }
  }
  
  &__controls {
    @include flexBetween;
  }
  
  &__calendar {
    width: 100%;
    position: relative;
  }
  
  &__table {
    width: 100%;
    margin: 1rem 0 1.5rem;
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 3.5rem;
    
    position: relative;
    z-index: 1;
    overflow: hidden;
  
    font-size: 1.6rem;
    font-weight: 700;
  
    @include respond(tab-land) {
      margin: .5rem 0 0;
    }
    
    & div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    & div:not(.side-calendar__day--name) {
      cursor: pointer;
    }
  }
  
  &__day {
    &--active {
      height: 3.5rem;
      width: 3.5rem;
      margin: auto;
      
      color: $color-white;
      
      background-color: $color-primary-light-1;
      border-radius: .5rem;
    }
    
    &--name {
      color: $color-primary-light-2;
    }
    
    &--additional {
      color: $color-primary-light-3;
    }
  }
  
  &__week {
    width: 100%;
    height: 3.5rem;
  
    display: block;
  
    position: absolute;
    top: 7rem;
    left: 0;
    z-index: 1;
    
    background-color: $color-primary-light-5;
    border-radius: .5rem;
  }
}